body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d9b6c5;
    margin: 0;
}

.game-container {
    text-align: center;
}
h1, h3{
    color: #64ac28;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-gap: 1rem;
    margin: 20px auto;
    position: relative;
}

.grid div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bacadf;
    border: 1px solid #cccccc;
    border-radius: 10%;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    z-index: 1;
    user-select: none; /* Disable text selection */
    transition: transform 0.2s; /* Add transition for pop effect */
}

.grid div.selected {
    background-color: #f8e2a2;
    color: #ffffff;
    transform: scale(1.1); /* Slightly pop the grid cell */
}

.line {
    position: absolute;
    background-color: #ffd968;
    height: .7rem;
    z-index: 0;
    transform-origin: 0 0;
}

.circle {
    width: 2rem;
    height: 2rem;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Letter color */
    z-index: 2; /* Ensure circle is above the line */
}

.word-list {
    margin: 20px 0;
}

.word-list ul {
    list-style: none;
    color: #5e4104;
    padding: 0;
}

.score-board {
    margin: 20px 0;
}

.score-board .score-bar-container {
    width: 100%;
    height: 20px;
    background-color: #7ca9a6;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.score-board .score-bar {
    height: 100%;
    background: linear-gradient(to right,#ADD899 0%, #80b4b0 100%);
    width: 0;
}

.message {
    color: green;
    font-size: 18px;
    margin-top: 20px;
}



#no-words {
    color: #888888;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(5, 3rem);
        grid-gap: 0.8rem;
    }

    .grid div {
        width: 3rem;
        height: 3rem;
        font-size: 20px;
    }

    .circle {
        width: 1.5rem;
        height: 1.5rem;
    }

    .score-board .score-bar-container {
        height: 15px;
    }

    .message {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(5, 2.5rem);
        grid-gap: 0.6rem;
    }

    .grid div {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 18px;
    }

    .circle {
        width: 1.2rem;
        height: 1.2rem;
    }

    .score-board .score-bar-container {
        height: 10px;
    }

    .message {
        font-size: 14px;
    }
}